/node_modules
/public/hot
/public/storage
public/js
public/css
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/mix-manifest.json
build
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
/public/build
.env.backup
auth.json
/.idea
/.vscode
composer.phar
composer.lock
.DS_Store
Thumbs.db
/phpunit.xml
/bootstrap/compiled.php
.env.*.php
.env.php
workspace.xml
# Created by https://www.toptal.com/developers/gitignore/api/laravel
# Edit at https://www.toptal.com/developers/gitignore?templates=laravel

### Laravel ###
/vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
/.vagrant
# End of https://www.toptal.com/developers/gitignore/api/laravel
